Source: zynthbox-plugin-synthv1-lv2
Section: misc
Priority: optional
Maintainer: Probal Basak <probal31@gmail.com>
Build-Depends: 
  debhelper (>= 11), 
  cmake, 
  g++
Standards-Version: 4.1.3
Homepage: https://github.com/rncbc/synthv1

Package: zynthbox-plugin-synthv1-lv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build zynthbox-plugin-synthv1-lv2 deb
